:root{
    --dark: #2e2727;
    --brewgreen: #6A9A92;
    --darkbrew: #264d47;
    --lightbrew: #aed1cc;
    --spacing: 3rem;
    --handwriting: 'Indie Flower', Arial, Helvetica, sans-serif;
    --typed: 'Heebo', Arial, Helvetica, sans-serif;
}

html, 
body {
    scroll-behavior: smooth;
}

body{
    background: var(--brewgreen);
    font-family: var(--typed);
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    background: var(--dark);
    color: var(--brewgreen);
    font-size: clamp(48px, 8vw, 100px);
    font-family: var(--handwriting);
    font-weight: 900;
}

.navbar {
    background: var(--darkbrew);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbutton {
    float: left;
    background-color: var(--darkbrew);
    text-align: left;
    padding: 1rem 1.5rem;
    border-left: 2px groove var(--lightbrew);
    text-decoration: none;
    color: var(--lightbrew);
    font-family: var(--handwriting);
    font-weight: bold;
    font-size: 1.6rem;
}

.navbutton:hover {
    background: var(--lightbrew);
    color: var(--dark);
}

[data-active] {
    background: var(--lightbrew);
    color: var(--dark);
}

.brewster-img {
    display: block;
    max-width: 100%;
    margin-bottom: var(--spacing);
    border-radius: 50px;
}

section {
    margin: 0 auto;
    padding: calc(var(--spacing) + 3.6rem) 0 0;
}


.about {
    max-width: 1200px;
}

.about-container {
    display: flex;
    flex-direction: column-reverse;
}

.about-text{
    font-size: 2rem;
}


footer {
    width: 100vw;
    background-color: var(--dark);
    color: white;
}

.footer-section {
    max-width: 100%;
    padding: var(--spacing);
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-text {
    font-size: 1em;
    margin: 1rem;
}

.map {
    display: block;
    max-width: 100%;
}

h2 {
    font-size: clamp(32px, 3vw, 3rem);
    margin-bottom: 1em;
    font-family: var(--handwriting);
}

h3 {
    font-size: 5vh;
    margin-bottom: var(--spacing);
    text-align: center;
    font-family: var(--handwriting);
}

h4 {
    font-family: var(--handwriting);
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--brewgreen);
}

h5 {
    font-family: var(--handwriting);
}

p {
    margin-bottom: 1em;
    font-family: var(--typed);
    line-height: 1.4em;
    font-weight: 200;
    font-size: 2rem;
}

.blackboards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - var(--spacing) * 2);
}

.blackboard {
    max-width: calc(100% - 4rem - var(--spacing) * 2);
    padding: var(--spacing);
    outline: 2rem solid var(--dark);
    background: var(--dark);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23fff' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    color: white;
}

.blackboard-item {
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    margin-bottom: var(--spacing);
}

.blackboard-item:last-child {
    margin-bottom: 1rem;
}

.blackboard-img {
    grid-row: span 2;
    display: block;
    max-width: 80px;
    min-width: 80px;
}

.blackboard-text {
    grid-column: span 2;
    margin-top: 1rem;
    font-family: var(--handwriting);
    font-weight: 100;
    font-size: 1.2rem;
}

.blackboard-price {
    text-align: right;
    font-family: var(--handwriting);
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--brewgreen);
}

.music{
    max-width: 1200px;
}

.music-container {
    display: flex;
    flex-direction: column-reverse;
}

.music-text{
    font-size: 2rem;
}

.kk-img {
    display: block;
    max-width: 100%;
    margin-bottom: var(--spacing);
    border-radius: 50px;
}

.art{
    max-width: 1200px;
}

.art-container{
    display: flex;
    flex-direction: column-reverse;
}

.art-grid {
    display: flex;
    overflow-y: scroll;
}

.art-img {
    max-width: 150px;
    background-color: white;
    padding: 1rem;
    border: 5px solid var(--dark);
    margin: 1rem 2rem;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
}
/* shift left right, shift up down, spread, blur, opacity
*/

.art-text {
    position: relative;
    display: block;
    padding: 5px 20px;
    max-width: max-content;
    margin: 0 auto;
    font-size: 0.9em;
    background-color: white;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
}

.art-text:before,
.art-text:after {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--dark);
}

.art-text:before {
    top: calc(50% - 2px);
    left: 8px;
}

.art-text:after {
    top: calc(50% - 2px);
    right: 8px;
}

.team {
    max-width: 1200px;
}

.team-container {
    display: flex;
    flex-direction: column-reverse;
}

.team-grid {
    display: flex;
    overflow-y: scroll;
}

.team-img {
    max-height: 120px;
    padding: 1rem;
}

.team-text{
    position: relative;
    display: block;
    padding: 5px 20px;
    max-width: max-content;
    margin: 0 auto;
    font-size: 0.9em;
    background-color: var(--darkbrew);
    color: var(--lightbrew);
}

.team-text-2{
    position: relative;
    display: block;
    padding: 5px 20px;
    max-width: max-content;
    margin: 5px 5px;
    font-size: 0.9em;
    background-color: var(--brewgreen);
    color: var(--brewgreen);
}

.team-text-2:hover{
    background-color: var(--dark);
    color: var(--lightbrew);
}

.scallop {
    position: relative;
    padding: 50px;
    padding-top: calc(50px + 3.6rem)
}

.scallop::after{
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content: "";
    background: radial-gradient(circle at 50% 0%, var(--dark) 25%, var(--darkbrew) 26%, transparent 40%);
    background-size: 50px 100px;
    height: 50px;
    background-repeat: repeat-x;
}

.after-scallop {
    margin-top: var(--spacing);
}

.copyright {
    font-size: 1rem;
}


@media screen and (min-width: 850px) {
    .about-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .brewster-img {
        max-width: 25%;
        margin-left: var(--spacing)
    }

    .blackboards {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        gap: calc(var(--spacing) * 3);
    }

    .music-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .kk-img {
        max-width: 25%;
        margin-left: var(--spacing);
    }

    .footer-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .map {
        max-width: 25%;
        margin-left: var(--spacing);
    }
}