body {
    background: #477069;
    color: #2e2727;
}

.navbar {
    background: #2e2727;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #477069;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.5vh;
}

.navbar a:hover {
    background: #477069;
    color: #2e2727;
}

.navbar a.active {
    background: white;
    color: #2e2727;
}

header {
    text-align: center;
    margin: 1vh;
}

.brewster-img {
    max-height: 10vh;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #2e2727;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}

h1 {
    font-size: 15vh;
}

h2 {
    font-size: 5vh;
    margin: 2vh;
}

p {
    margin: 1vh;
}

.drinks {
    float: left;
    width: 50%;
}

.food {
    float: right;
    width: 50%;
}